<form action="/cars/search-result" method="GET">
  <div class="input-group mb-3">
    <input type="text" name="carNum" class="form-control" value="<%= searchInput %>" placeholder="Search with the car number" autocomplete="off">
    <button type="submit" class="btn btn-outline-secondary"><i class="bi bi-search"></i></button>
  </div>
</form>