<%- include('../../includes/top.ejs') %>
  <!-- Page Title -->
  <h1 class="text-center mb-5 fw-bold" style="margin-top: 150px;">Parking Lot Manager</h1>
  <!-- Search Bar -->
  <div class="row justify-content-center">
    <div class="col-10 col-md-8">
      <%- include('../../components/search-bar.ejs') %>
    </div>
  </div>
  <!-- Page Links -->
  <div class="d-flex justify-content-center">
    <div><a href="/cars/overview" class="text-decoration-none">Find your car</a> or <a href="/parking/overview" class="text-decoration-none">Check the parking lot</a></div>
  </div>
<%- include('../../includes/bottom.ejs') %>